img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
figcaption {
  text-align: center;
}
h1 {
  text-align: center;
  color: #000000;
  font-weight: bold;
}
body {
 font-family: 'Optima', sans-serif;
 text-align: left;
  background-color: #FFFAF0;
  color: #228B22;
  font-size: 100%
  
}