img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
figcaption {
  text-align: center;
}
h1 {
  text-align: center;
  color: #a3003d;
}
body {
 font-family: 'courier', serif;
 text-align: left;
  background-color: #FFF0F5;
  color: purple;
  font-size: 100%
  
}